html {
	background: #2C2F33;
}
body::before {
	background: url("../assets/Background-Icons.png");
	background-size: 450px 450px;
	content: "";
	opacity: 0.15;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	filter: blur(4px);
}
body::after {
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
body.choice::after {
	background-image: linear-gradient(transparent, #2C2F33 27em);
}
body.navigate::after {
	background-image: linear-gradient(transparent, #2C2F33);
}
