@charset "utf-8";

/*Icons*/
/*3 Wide*/
@media (min-width: 432.1px) and (max-width: 587px) {
.body > p > a:last-child {
	display: none;
}
}

/*3.5 Wide*/
@media (min-width: 587.1px) and (max-width: 728px) {
.icon.body {
	max-width: 590px;
}
.smalltablet {
	display: inline;
}
}

/*5 Wide*/
@media (min-width: 728.1px) and (max-width: 1414px) {
.icon.body {
	max-width: 750px;
}
}

/*Choices*/
/*2 Wide*/
@media (min-width: 572.1px) and (max-width: 725px) {
.choice.body {
	max-width: 525px;
}
}

@media (min-width: 725.1px) and (max-width: 872px) {
.choice.body {
	max-width: 565px;
}
}

/*3 Wide*/
@media (min-width: 872.1px) and (max-width: 1261px) {
.choice.body {
	max-width: 845px;
}
}

/*4 Wide*/
@media (min-width: 1261.1px) and (max-width: 1600px) {
.choice.body {
	max-width: 1125px;
}
}

/*5 Wide*/
@media (min-width: 1600.1px) {
.choice.body {
	max-width: 1400px;
}
}
