@charset "utf-8";
header {
	max-width: 750px;
	border-radius: 0 0 10px 10px;
	margin-top: 5em;
}
.mobile {
	display: none;
}
.body:not(.text) {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 8px;
	width: 90%;
}
nav {
	height: 5em;
}
.home, .subCat {
	margin-top: .4em;
	font-size: 2.3em;
}
.scheme {
	width: 240px;
	min-height: 330px;
	padding: 6px 12px;
	margin-bottom: 16px;
}
.anchor {
	transform: translateY(-100px);
}
