@charset "utf-8";
header {
	padding: 10px;
	padding-bottom: 20px;
	text-align: left;
	margin-bottom: 20px;
}
header h1 {
	text-align: center;
}
/*
header section {
	max-width: 550px;
}
*/
header section.greyed {
	margin-top: 1em;
}
header + h2 {
	margin-bottom: 16px;
}
body, .body {
	text-align: center;
	min-height: 100%;
	margin-bottom: 80px;
}
nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}
ol > li {
	margin-left: 1.5em;
}
footer {
	margin-top: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
img {
	display: inline
}
.home {
	float: left;
	margin-left: 14px;
}
.subCat {
	float: left;
	margin-left: 8px;
}
.smalltablet {
	display: none;
}
.style {
	margin-top: 30px;
	padding-bottom: 5px;
	padding-top: 20px;
	width: 85%;
}
.text {
	max-width: 700px;
}
.text p {
	display: block;
}
.body a {
	margin: auto;
}
.anchor {
	margin: 0;
}
