@charset "utf-8";
header {
	padding: 10px;
	text-align: left;
	margin-bottom: 20px;
}
header h1 {
	text-align: center;
}
header section {
	max-width: 550px;
}
header + h2 {
	margin-bottom: 16px;
}
body, .body {
	text-align: center;
	min-height: 100%;
}
nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}
ol > li {
	margin-left: 1.5em;
}
footer {
	margin-top: 100px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
img {
	display: inline
}
.home, .subCat {
	float: left;
	margin-left: 14px;
}
.menu {
	float: right;
}
.smalltablet {
	display: none;
}
.style {
	margin-top: 30px;
	padding-bottom: 5px;
	padding-top: 20px;
	width: 85%;
}
.text {
	max-width: 700px;
}
.body a {
	margin: auto;
}
/*Dropdown stuff*/
.dropdown {
	float: right;
}
.dropdown .dropbtn {
	margin: 0;
}
.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
	min-width: 80px;
}
.dropdown-content a {
	float: none;
	display: block;
	text-align: center;
	padding: 2px 16px;
}
.dropdown-content a:not(:last-child) {
	margin-bottom: 2px;
}
.dropdown:hover .dropdown-content {
	opacity: 1;
	display: block;
}