@charset "utf-8";

@media (max-width : 6in ) {
.desktop {
	display: none;
}
.body > p > a:last-child {
	display: none;
}
.style img {
	width: 26vw;
	height: 26vw;
}
.scheme {
	text-align: left;
	margin: 0 16px 16px;
	padding: 6px 12px;
	height: 136px;
	clear: left;
}
.scheme * {
	display: block;
}
.scheme img {
	float: left;
	margin-right: 10px;
}
/*TEMPORARY - DELETE ME*/
.signifier::before {
	content: "Mobile";
	color: hsla(0,0%,100%,0.20);
}
/*TEMPORARY - DELETE ME*/
}
