@charset "utf-8";
header {
	margin-top: 3em;
}
nav {
	height: 3em;
}
.desktop {
	display: none;
}
.style img {
	width: 26vw;
	height: 26vw;
}
.home, .subCat {
	margin-top: .2em;
	font-size: 1.8em;
}
.menu {
	width: 25px;
	height: 25px;
	padding: .75em;
	padding-left: 1.2em;
}
.anchor {
	transform: translateY(-300px);
	width: 10px;
	height: 10px;
	background: #000;
}
.scheme {
	text-align: left;
	margin: 0 16px 16px;
	padding: 6px 12px;
	min-height: 136px;
	clear: left;
}
.scheme * {
	display: block;
}
.scheme img {
	float: left;
	margin-right: 10px;
}
.scheme p {
	font-size: .75em;
}
.dropdown-content {
	top: 2.25em;
	left: 0;
	right: 0;
	border-bottom-left-radius: 0px;
}
.dropdown-content a:last-child {
	border-bottom-left-radius: 0px;
}

@media (max-width: 475px) {
.subCat {
	margin-left: 5px;
	margin-top: .6em;
	font-size: 1.3em;
}
}

@media (max-width: 350px) {
.subCat {
	display: none;
}
}
