@charset "utf-8";

@media (max-width : 572px ) {
header {
	margin-top: 3em;
}
.desktop {
	display: none;
}
.body > p > a:last-child {
	display: none;
}
.style img {
	width: 26vw;
	height: 26vw;
}
nav {
	height: 3em;
}
.home, .subCat {
	margin-top: .2em;
	font-size: 1.8em;
}
.menu {
	width: 25px;
	height: 25px;
	padding: .75em;
}
.dropdown-content {
	top: 2.2em;
}
.scheme {
	text-align: left;
	margin: 0 16px 16px;
	padding: 6px 12px;
	height: 136px;
	clear: left;
}
.scheme * {
	display: block;
}
.scheme img {
	float: left;
	margin-right: 10px;
}
 @media (max-width: 430px) {
}
/*TEMPORARY - DELETE ME*/
.signifier::before {
	content: "Mobile";
}
.signifier {
	top: 2em;
}
/*TEMPORARY - DELETE ME*/
}

@media (max-width: 450px) {
.subCat {
	margin-left: 5px;
	margin-top: .6em;
	font-size: 1.3em;
}
}

@media (max-width: 350px) {
.subCat {
	display: none;
}
}
