@charset "utf-8";
@import url("background-icons.css");
html, header, footer, body, h1, h2, p, img, ul, li, a, form, select, option, input, button, textarea {
	font-family: calibri, arial;
	color: white;
}
body {
	background: none;
}
nav {
	background-color: #202225;
}
nav .home:hover {
	transition: .4s;
	color: hsla(54,100%,80%,1.00);
	filter: drop-shadow(0px 0px 5px hsla(0,0%,100%,0.50));
}
nav .subCat:hover {
	transition: .4s;
	color: hsla(54,32%,56%,1.00);
	filter: drop-shadow(0px 0px 5px hsla(58,100%,85%,0.50));
}
header, footer {
	background-color: #292B2D;
	border-radius: 0px;
}
h2.subCat {
	color: hsla(0,0%,100%,0.5);
}
ul > li {
	border-radius: 5px;
	list-style: none;
}
a, header a, .scheme {
	text-decoration: none;
}
header a, .link, .alphaNav > a {
	color: #55c91c;
	text-decoration: none;
}
header a:hover, .link:hover, .alphaNav > a:not(.disabled):hover {
	color: #9dfd1a;
	text-decoration: underline;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
em, strong {
	color: inherit;
}
.body img {
	border-radius: 8%;
	border: #2C2F33 solid 4px;
	background-color: #202226;
	color: hsla(0,0%,100%,0.25);
	background-image: url("../assets/Loading.gif");
	transition: .4s, border .6s;
	width: 128px;
	height: 128px;
}
.scheme img {
	background-image: url("../assets/MissingImage.png");
}
.scheme p {
	color: hsla(0,0%,100%,0.5);
}
.body a:hover > img, .scheme:hover > img {
	border: #7289DA solid 4px;
}
.style:not(:first-child) {
	border-top: solid 2px #515A61;
}
.scheme {
	background-color: #23272A;
	border-radius: 10px;
	transition: .2s, background-color .6s, filter .6s;
}
.scheme:hover {
	background-color: #515A61;
	filter: drop-shadow(4px 4px 4px hsla(0,0%,0%,0.5));
}
.scheme img {
	border-radius: 50%;
	border: #23272A solid 4px;
}
.alphaNav {
	cursor: default;
	font-size: 1.3em;
}
/*Special Cases*/
.disabled {
	opacity: .3;
	cursor: url("../assets/nullCursor.png"), no-drop;
}
.colorKey img {
	border-radius: 50%;
}
.greyed {
	color: hsla(0,0%,100%,0.25);
}
/*Dropdown stuff*/
.dropdown * {
	transition: background-color .3s;
}
.dropdown-content {
	font-size: 1.35em;
}
.dropdown-content a {
	color: white;
	background-color: hsla(216,7%,14%,0.90);
	text-decoration: none;
}
.dropdown-content a {
	border-radius: 5px;
}
.dropdown-content a:hover {
	background-color: #7289DA;
	background: linear-gradient(rgb(0,140,30), rgb(160,255,26));
}
.dropdown-content a:active {
	background-color: #7289DA;
	background: linear-gradient(#00F08C, #007137);
}
/*Scroll Bar*/
:root {
	scrollbar-color: #23272A #373A3F;
	scrollbar-width: thin;
}
::-webkit-scrollbar {
 width: 8px;
}
::-webkit-scrollbar-button {
 display: none;
}
::-webkit-scrollbar-thumb {
 background-color: #23272A;
 max-height: 80px;
}
::-webkit-scrollbar-track {
 background-color: #373A3F;
}
