@charset "utf-8";
@import url("background-icons.css");
html, header, footer, body, h1, h2, p, img, ul, li, a, form, select, option, input, button, textarea {
	font-family: calibri, arial;
	color: white;
}
nav {
	background-color: #202225;
}
nav .home:hover, nav .menu:hover img {
	transition: .4s;
	filter: drop-shadow(0px 0px 5px hsla(0,0%,100%,0.50));
}
header, footer {
	background-color: #292B2D;
	border-radius: 0px;
}
h2.subCat {
	color: hsla(0,0%,100%,0.5);
}
ul > li {
	border-radius: 5px;
	list-style: none;
}
a, header a, .scheme {
	color: transparent;
}
header a, .link {
	color: #55c91c;
	text-decoration: none;
}
header a:hover, .link:hover {
	color: #9dfd1a;
	text-decoration: underline;
}
.body img {
	border-radius: 10px;
	border: #2C2F33 solid 4px;
	background-color: #202226;
	color: hsla(0,0%,100%,0.25);
	background-image: url("../assets/Loading.gif");
	transition: .4s;
	width: 128px;
	height: 128px;
}
.scheme img {
	background-image: url("../assets/Placeholder128-Peridot.png");
}
.scheme p {
	color: hsla(0,0%,100%,0.5);
}
.body a:hover img {
	border: #7289DA solid 4px;
}
.scheme:hover {
	background-color: #515A61;
	filter: drop-shadow(4px 4px 4px hsla(0,0%,0%,0.5));
}
.style:not(:first-child) {
	border-top: solid 2px #515A61;
}
.scheme {
	background-color: #23272A;
	border-radius: 10px;
	transition: .6s;
}
.scheme img {
	border-radius: 50%;
	border: #23272A solid 4px;
}
.alphaNav > a {
	color: white;
}
.alphaNav {
	cursor: default;
}
.disabled {
	opacity: .3;
	cursor: url("../assets/nullCursor.png"), no-drop;
}
.colorKey img {
	border-radius: 50%;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
/*Dropdown stuff*/
.dropdown * {
	transition: .3s;
}
.dropdown-content {
	opacity: 0;
	background-color: #2C2F33;
	border-bottom-left-radius: 5px;
	font-size: 1.35em;
}
.dropdown-content a {
	color: white;
	background-color: hsla(216,7%,14%,0.90);
	text-decoration: none;
}
.dropdown-content a:last-child {
	border-bottom-left-radius: 5px;
}
.dropdown-content a:hover {
	background-color: #7289DA;
}
/*Scroll Bar*/
:root {
	scrollbar-color: #23272A #373A3F;
	scrollbar-width: thin;
}
::-webkit-scrollbar {
 width: 8px;
}
::-webkit-scrollbar-button {
 display: none;
}
::-webkit-scrollbar-thumb {
 background-color: #23272A;
 max-height: 80px;
}
::-webkit-scrollbar-track {
 background-color: #373A3F;
}
